@page
@model MikrotikWireguardUI.Pages.servers.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Server</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Server.Fqdn" class="control-label"></label>
                <input asp-for="Server.Fqdn" class="form-control" />
                <span asp-validation-for="Server.Fqdn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Server.Port" class="control-label"></label>
                <input asp-for="Server.Port" class="form-control" />
                <span asp-validation-for="Server.Port" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Server.Ssl" /> @Html.DisplayNameFor(model => model.Server.Ssl)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Server.Username" class="control-label"></label>
                <input asp-for="Server.Username" class="form-control" />
                <span asp-validation-for="Server.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Server.Password" class="control-label"></label>
                <input asp-for="Server.Password" class="form-control" />
                <span asp-validation-for="Server.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

